<nav class="navbar">
  <div class="container">
    <div
      class="burger-menu"
      (click)="onBurgerClicked()"
      [class.active]="active"
      (keyup)="onBurgerClicked()"
      role="button"
      aria-roledescription="navigation menu"
      tabindex="0"
    >
      <div class="burger-container">
        <div class="burger-inner"></div>
      </div>
    </div>

    <ul class="menu" [class.active]="active">
      <li><a *ngIf="!isLogged" routerLink="/login">Login</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/item-form">Sell Item</a></li>
      <li><a routerLink="/carro">Carro</a></li>
      <li><a *ngIf="!isLogged" routerLink="/register">Register</a></li>
      <li><button *ngIf="isLogged" (click)="logout()">Logout</button></li>
    </ul>
  </div>
</nav>
