host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4d4d4;
}
span {
  display: none;
}
.title {
  text-align: center;
  font-size: 30px;
}
.login {
  display: flex;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  height: 600px;
  .input-box {
    margin: 30px 0;
    input,
    textarea {
      border: 2px solid rgba(255, 0, 0);
      border-radius: 40px;
      font-size: 16px;
      padding: 20px 45px 20px 20px;
    }
    textarea {
      height: 100px;
    }
    input::placeholder {
      color: rgb(0, 0, 0);
    }
  }
  .input {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .btn {
    width: 100%;
    height: 45px;
    background: rgb(255, 0, 0);
    margin-top: 32px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    align-self: flex-end;
  }
}
