:host {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 88vh;
}
.title {
  font-size: 20px;
  color: #ff0000;
  font-weight: 600;
}
.favoriteBody {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  gap: 2rem;
  margin: 1rem;
}
.item {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 80vw;
  margin: 0px 0px 0px 15px;
  cursor: pointer;
  box-shadow: 10px 5px 5px red;
}
.favoriteMain {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 1rem;
  img {
    align-self: flex-start;
  }
}
.noItem {
  color: #ff0000;
  font-size: 20px;
  font-weight: 600;
}
