<div class="favoriteBody">
  @if (favoriteItems !== null) {
    @for (item of favoriteItems; track $index) {
      <div class="item">
        <p class="title">{{ item.title }}</p>
        <div class="favoriteMain">
          @if (item.image[0]) {
            <img
              [src]="item.image[0].secureUrl"
              [alt]="item.image[0].originalName"
              height="60px"
              width="60px"
            />
          } @else {
            <img
              src="../../../assets/image-missing-1178918.webp"
              alt="miss image"
              height="60px"
              width="60px"
            />
          }
          <div>
            <p>€ {{ item.price }}</p>
            <p>By: {{ item.owner.name }}</p>
          </div>
        </div>
      </div>
    }
  } @else {
    <p class="noItem">No favorite items</p>
  }
</div>
