:host {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  h1 {
    color: #ff0000;
  }
  a {
    margin-left: 1rem;
  }
}
