<div class="login">
  <form action="">
    <span>LOGIN</span>
    <form [formGroup]="formLogin" (ngSubmit)="submit()">
      <div class="input">
        <label class="input-box" for="name">
          <span>name</span>
          <input
            id="name"
            type="text"
            placeholder="Name"
            formControlName="name"
          />
        </label>
        <label class="input-box" for="email">
          <span>email</span>
          <input
            id="email"
            type="email"
            placeholder="email"
            formControlName="email"
          />
        </label>
        <label class="input-box" for="password">
          <span>password</span>
          <input
            id="password"
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </label>
      </div>
      <div class="remember-forgot">
        <label for="remember"
          ><input type="checkbox" />
          <p>Remember me</p></label
        >
        <a href="#" rel="forgot password">Forgot password?</a>
      </div>
      <button class="btn" type="submit" [disabled]="formLogin.invalid">
        Login
      </button>

      <div class="register-link">
        <p>
          Don't have an account?
          <a href="/register" rel="register"><p>Register</p></a>
        </p>
      </div>
    </form>
  </form>
</div>
