:host {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-top: 80px;

  .cardContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  .btn {
    display: flex;
    justify-content: center;
  }
}
