:host {
  display: flex;
  margin-top: 80px;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.detailTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: #ff0000;
  font-weight: 700;
}
.detailItem {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 1rem;
}
.bodyDetail {
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 5px 5px red;
  display: flex;
  width: 80vw;
  max-width: 80%;
  height: 80vh;
  max-height: 80%;
}
.detailContent {
  display: flex;
  flex-direction: column;
  width: 80%;
}
button {
  background-color: #ff0000;
  color: white;
  position: absolute;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  top: 80px;
}
.pay {
  position: absolute;
  top: 80px;
  right: 40px;
}
.detailInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
}
.detailDescription {
  width: 280px;
  height: 80px;
}
