:host {
  display: flex;
  background-color: transparent;
  margin-top: 80px;
  width: 100%;
  height: 85vh;
  justify-content: center;
  align-items: center;
  .bodyProfile {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60%;
    height: 70%;
    padding: 2rem;
    img {
      border-radius: 20px;
    }
    .header {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .detail {
      display: flex;
      flex-direction: column;
      margin: 1.5rem;
      gap: 1rem;
      font-size: 20px;
    }
  }
}
