<div class="login">
  <form action="">
    <h2>REGISTER</h2>
    <form [formGroup]="formRegister" (ngSubmit)="submit()">
      <div class="input">
        <label class="input-box" for="name">
          <input
            id="name"
            type="text"
            placeholder="Name"
            formControlName="name"
          />
        </label>
        <label class="input-box" for="email">
          <input
            id="email"
            type="email"
            placeholder="email"
            formControlName="email"
          />
        </label>
        <label class="input-box" for="password">
          <input
            id="password"
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </label>
        <!-- aggiungere data nascita -->
      </div>
      <button class="btn" type="submit" [disabled]="formRegister.invalid">
        REGISTER
      </button>
    </form>
  </form>
</div>
