:host {
  display: flex;

  width: 100%;
  background: transparent;
  justify-content: center;
  align-items: flex-start;
}

.bodyHome {
  display: flex;
  background-color: transparent;
  width: 80%;
}
