:host {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #e5e5e5;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../../../assets/sfondo.webp");
}

.bodyHome {
  display: flex;
  background-color: #ffffff;
  width: 80%;
}
